/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  background-color: white;
}
html,
body {
  height: 100%;
  background: lightgrey;
}
/* Begin new code */
#textcolor {
  color: black;
}
#headerfont {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 3.5rem;
  line-height: 1.5em;
}
#textfont {
  font-family: 'Cutive Mono', monospace;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
}
.maincontainer {
  width: 1200px;
  margin: auto;
  border-left: solid grey 2px;
  border-right: solid grey 2px;
  padding: 15px;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 3.5rem;
  line-height: 1.5em;
  font-size: 1.8rem;
}
p {
  font-family: 'Cutive Mono', monospace;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
}
header nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid grey 1px;
}
header nav a {
  text-decoration: none;
  margin-left: 75px;
  font-family: 'Cutive Mono', monospace;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
  transition: all 0.2s ease-in-out;
}
header nav a:hover {
  color: black;
  transform: scale(1.1);
}
.reachout {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.reachout button {
  margin: 25px;
}
.button1 {
  border: solid grey 2px;
  width: 200px;
  height: 75px;
  transition-duration: 0.5s;
  font-family: 'Cutive Mono', monospace;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
  align-self: auto;
}
.button1:hover {
  background-color: lightcyan;
  transform: scale(1.1);
}
.container h1 {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 3.5rem;
  line-height: 1.5em;
}
.subcont1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: solid grey 1px;
  padding-bottom: 15px;
  margin: 25px;
}
.subcont1 p {
  padding-top: 25px;
}
img {
  width: 500px;
  height: 500px;
}
@media (max-width: 600px) {
  .maincontainer {
    width: 400px;
    margin: auto;
  }
  .container h1 {
    font-size: 25px;
  }
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav a {
    text-decoration: none;
    font-family: 'Cutive Mono', monospace;
    color: black;
    font-size: 20px;
    line-height: 1.5em;
    border-bottom: solid lightgrey 1px;
  }
  header nav a:nth-child(1) {
    border-top: solid lightgrey 1px;
  }
}
